.cart {
  @include centerElement;
  margin-top: 5rem;

  #{&}__center {
    width: 50%;

    .emptyCart h4 {
      text-transform: none;
      margin-top: 3rem;
      text-align: center;
      color: $clr-grey-5;
    }

    @include responsive(1000px) {
      width: 70%;
    }
    @include responsive(600px) {
      width: 80%;
    }
    @include responsive(400px) {
      width: 95%;
    }
  }
  #{&}__header {
    text-align: center;

    h2 {
      text-transform: uppercase;
    }
  }
  #{&}__items {
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding-bottom: 2.5rem;
    border-bottom: 2px solid $clr-grey-5;
    margin-bottom: 1rem;
  }

  .amountTotal {
    display: flex;
    justify-content: space-between;

    @include responsive(400px) {
      padding: 0 1rem;
    }
  }

  .clear {
    margin: 3rem;
    @include centerElement;
  }
}

.item {
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;

  #{&}__img {
    height: 5rem;
    width: 5rem;
    object-fit: cover;

    img {
      height: 100%;
    }
  }
  #{&}__details {
    padding-left: 2rem;

    .title h4 {
      font-weight: 500;
      letter-spacing: 0.15rem;
      margin-bottom: 0.2rem;
    }
    .price {
      letter-spacing: 0.15rem;
      font-weight: 600;
      color: $clr-grey-5;
      margin-bottom: 0.25rem;
    }
    .remove button {
      background: none;
      border: none;
      letter-spacing: 0.15rem;
      @include cartBtn;
    }

    @include responsive(400px) {
      padding-left: 1rem;
    }
  }
  #{&}__amount {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.1rem;

    .icon {
      @include cartBtn;
    }
  }
}
