*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  padding: 5rem;
  background-image: linear-gradient(
    to top,
    #684164,
    #895e7c,
    #aa7c96,
    #cc9cb1,
    #edbdcd
  );
  overflow-x: hidden;
  overflow-y: scroll;
  height: 200vh;
}

.container {
  margin-top: 2rem;
  transform: translate(150%, 10%);
  transition: all ease 0.5s;
  position: relative;

  .notif {
    background: #fff;
    width: 350px;
    text-align: center;
    border-radius: 15px;
    display: flex;
    overflow: hidden;
    flex-direction: column;

    &__title {
      font-size: 1.2rem;
      font-weight: bold;
      padding: 2rem 2rem;
      color: #000;
    }

    &__img {
      height: 200px;
      overflow: hidden;

      img {
        height: 100%;
        width: 100%;
        transition: all ease 0.5s;

        &:hover {
          transform: scale(1.1);
        }
      }
    }
  }

  .close {
    position: absolute;
    top: 3%;
    left: 23%;
    // z-index: 99;
    // right: -1%;
    color: #000;
  }

  &:hover {
    cursor: pointer;
  }
}

.show {
  animation: slide-in 0.5s forwards;
}
.hide {
  animation: slide-out 0.5s forwards;
}

@keyframes slide-in {
  100% {
    transform: translateX(80%);
  }
}
@keyframes slide-out {
  100% {
    transform: translateX(0%);
  }
}
