@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400&display=swap");
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Noto Sans KR", sans-serif;
}

$clr-black: #000;
$clr-white: #fff;
$clr-grey: lighten($clr-black, 20%);
$clr-light-grey: lighten($clr-black, 70%);

$thin-fontWeight: 100;
$light-fontWeight: 300;
$regular-fontWeight: 400;

$large-screen: 1024px;
$medium-screen: 768px;
$small-screen: 480px;

body {
  background-color: #444; // fallback
}

@mixin large-screen {
  @media screen and (max-width: $large-screen) {
    @content;
  }
}
@mixin medium-screen {
  @media screen and (max-width: $medium-screen) {
    @content;
  }
}
@mixin small-screen {
  @media screen and (max-width: $small-screen) {
    @content;
  }
}
