@import "./config";

body {
  height: 100vh;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.6)),
    url("https://images.unsplash.com/photo-1542435503-956c469947f6?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=967&q=80")
      center center no-repeat;
  background-size: cover;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 0;

  @include medium-screen {
    align-items: flex-end;
    padding-bottom: 3rem;
  }
}

.container {
  z-index: 10;

  #{&}__overlay {
    z-index: -1;
    position: fixed;
    background: $clr-grey;
    top: 0;
    left: 55%;
    transform: rotate(15deg) translateX(0%);
    height: 150%;
    width: 150%;
  }
}

.review {
  height: 50vh;
  width: 40vw;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__title {
    position: absolute;
    top: 10%;
    color: $clr-white;
    border-bottom: 1px solid $clr-white;
    font-size: 2rem;
    font-weight: $regular-fontWeight;
  }

  .image__container {
    position: absolute;
    top: 20%;
    right: 27%;
    height: 300px;
    width: 300px;

    img {
      object-fit: cover;
      height: 100%;
      width: 100%;
      border-radius: 50%;
      border-right: 20px solid $clr-light-grey;
    }

    @include large-screen {
      height: 250px;
      width: 250px;
      right: 15%;
    }

    @include medium-screen {
      height: 200px;
      width: 200px;
      top: 10%;
      left: 40%;
    }

    @include small-screen {
      left: 28%;
    }
  }

  @include large-screen {
    height: 50vh;
    width: 50vw;
  }
  @include medium-screen {
    height: 50vh;
    width: 400px;
  }
}

.reviewer {
  transform: translateX(-50%);
  padding: 2rem;
  color: $clr-white;
  border-radius: 10px;
  font-size: 2rem;

  #{&}__name {
    text-align: center;
    font-size: 2rem;
    text-transform: capitalize;
    font-weight: $regular-fontWeight;

    @include medium-screen {
      font-size: 1.5rem;
    }
  }
  #{&}__title {
    text-align: center;
    font-size: 1.8rem;
    text-transform: capitalize;
    font-weight: $light-fontWeight;

    @include medium-screen {
      font-size: 1.3rem;
    }
  }

  @include large-screen {
    transform: translateX(-30%);
  }

  @include medium-screen {
    transform: translateX(0%);
  }
}

.quote {
  position: absolute;

  @include medium-screen {
    font-size: 1.3rem;
  }
}

.review__quote {
  padding: 4rem 2rem;
  position: relative;

  .quote-left {
    @extend .quote;
    top: 0;
    left: 0;
  }
  .quote-right {
    @extend .quote;
    bottom: 0;
    right: 0;
  }

  .reviewer__quote {
    text-align: center;
    margin-top: 1rem;
    font-size: 1.2rem;
    font-weight: $thin-fontWeight;

    @include medium-screen {
      margin-top: 0rem;
    }
  }

  @include medium-screen {
    padding: 2rem 1.5rem;
  }
}

.btn {
  position: absolute;
  border: none;
  background: none;
  color: $clr-white;
  font-size: 2rem;
  cursor: pointer;
  font-weight: 100;
  top: 70%;
  outline: none;

  @include medium-screen {
    font-size: 1.5rem;
  }
  @include small-screen {
    font-size: 1.2rem;
    top: 90%;
  }
}

.prev__btn {
  @extend .btn;
  left: 5%;
}
.next__btn {
  @extend .btn;
  right: 10%;
}
