.about {
  background: $clr-black;
  color: $clr-light-grey;

  #{&}__title {
    text-align: center;
    font-size: 3rem;
    padding: 2.5rem 0;

    @include responsive(1100px) {
      font-size: 2.5rem;
      padding: 1.5rem 0;
    }
    @include responsive(600px) {
      font-size: 2rem;
      padding: 1rem 0 2rem 0;
    }
  }

  #{&}__content {
    padding: 0 5rem;

    @include responsive(1100px) {
      padding: 0 3rem;
    }
    @include responsive(600px) {
      padding: 0 1.5rem;
    }
  }

  #{&}__info {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    margin: auto;
    gap: 3rem;
    padding: 2rem 3rem;

    .info__section {
      background: $clr-grey;
      display: grid;
      grid-template-columns: 1fr 2fr;
      align-items: center;
      justify-content: center;
      gap: 1rem 2rem;
      padding: 1rem 2rem;
      border-radius: 10px;

      .icon {
        font-size: 4rem;
        grid-row: span 2;
        // justify-self: center;

        @include responsive(1100px) {
          font-size: 3.5rem;
        }
      }

      .title {
        font-size: 1.7rem;
        font-weight: 400;
      }

      .count {
        font-size: 2rem;
        font-weight: bold;
        display: flex;
      }
    }

    @include responsive(1100px) {
      gap: 1rem;
      padding: 2rem 3rem;
    }
  }

  #{&}__map {
    @include centerElement;

    img {
      @include responsive(700px) {
        height: 80%;
        width: 80%;
      }
    }
  }
}
