.cart {
  position: fixed;
  right: 0;
  top: 0;
  width: 600px;
  height: 100%;
  z-index: 99;
  background: rgba(0, 0, 0, 0.9);
  color: $clr-white;
  opacity: 1;
  transform: translateX(0);
  transition: all 0.9s ease;

  #{&}__title {
    text-transform: capitalize;
    text-align: center;
    margin-top: 4rem;
    margin-bottom: 2rem;
    font-size: 2rem;
    font-weight: bolder;
    letter-spacing: 0.25rem;

    @include responsive(500px) {
      font-size: 1.5rem;
    }
  }

  #{&}__remove {
    position: absolute;
    right: 5%;
    top: 2%;
    font-size: 2.5rem;

    &:hover {
      cursor: pointer;
    }

    @include responsive(500px) {
      font-size: 2rem;
    }
  }

  #{&}__details {
    padding: 2rem 4rem;
    color: $clr-white;

    .section {
      background: $clr-black;
      padding: 1rem;
      display: grid;
      grid-gap: 0.5rem 0;
      margin-bottom: 1.5rem;
      justify-content: space-between;
      grid-template-areas:
        "title quantity"
        "price quantity"
        "remove quantity";

      & > * {
        // border: 1px solid red;
      }

      .section__title {
        grid-area: title;
        font-size: 1.3rem;
      }
      .section__price {
        font-size: 1.2rem;
        grid-area: price;
        font-weight: bold;
        letter-spacing: 0.25rem;
        color: rgb(170, 160, 103);
      }

      .section__removeItem {
        grid-area: remove;
        color: $clr-white;
        cursor: pointer;
        font-weight: lighter;
      }

      .section__quantity {
        grid-area: quantity;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        // font-size: 1.3rem;

        .incIcon,
        .decIcon {
          // font-size: 1.5rem;
          cursor: pointer;
        }
      }
    }
  }

  @include responsive(500px) {
    width: 100%;
  }
}

.hide-cart {
  opacity: 0;
  transform: translateX(1000px);
}
