@import url("https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:ital,wght@0,300;0,400;1,500&display=swap");

// global styles

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Fira Sans Condensed", sans-serif;
}

$primary-color: #000000;
$secondary-color: #00c9c8;
$clr-light-green: #bffcf9;
$clr-dark-green: #47817f;
$clr-white: #fff;
$clr-black: #000;

$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-medium-italic: 500;

$transition: all 0.3s linear;
$spacing: 0.1rem;
$radius: 0.5rem;
$light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
$dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.4);
$border: 5px solid red;

@mixin centerElement {
  display: flex;
  align-items: center;
  justify-content: center;
}
