.contact {
  height: 75vh;
  background: $clr-black;
  color: white;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: 60vh;
  gap: 3rem;
  padding: 5rem;

  #{&}__details {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 4rem;

    .contact__info {
      width: 70%;
      padding: 1rem 3rem;
      border-radius: 10px;
      display: grid;
      grid-template-columns: auto 1fr;
      gap: 0.5rem 3rem;
      background: $clr-grey;

      .contact__icon {
        grid-row: span 2;
        font-size: 1.5rem;
        color: $clr-black;
        background: $clr-white;
        border-radius: 50%;
        align-self: center;
        justify-self: center;
        padding: 1rem;
      }
      .contact__title {
        font-size: 1.4rem;
        text-transform: uppercase;
        color: $clr-light-grey;
      }
      .contact__inf {
        color: $clr-light-grey;
      }
    }
  }

  #{&}__form {
    display: flex;
    justify-content: center;

    .form {
      width: 80%;
      height: 100%;
      border-radius: 10px;
      background: $clr-grey;
      display: flex;
      flex-direction: column;
      padding: 4rem 4rem;

      .form-control {
        margin-bottom: 3rem;
      }

      .btn {
        cursor: pointer;
        margin: auto;
        border: none;
        width: max-content;
        font-weight: bolder;
        font-size: 1.3rem;
        padding: 0.3rem 0.6rem;
        border-radius: $radius;
        letter-spacing: 0.1rem;

        &:hover {
          background: $clr-light-grey;
        }
      }
    }
  }
}

.msg-submitted {
  padding: 3rem 2rem;
  text-align: center;
  color: $clr-light-grey;
  font-size: 2rem;
}

input[type="text"] {
  width: 100%;
  background: none;
  border: none;
  border-bottom: 2px solid $clr-white;
  color: $clr-white;
  outline: none;
  padding: 0.5rem 1.5rem;
  font-size: 1.3rem;
}

.textarea {
  width: 100%;
  height: 140px;
  border-radius: 10px;
  outline: none;
  padding: 1rem 1.5rem;
  font-size: 1rem;
}
