.productDetails {
  //   height: 75vh;
  padding: 2rem 10rem;
  background: $clr-black;

  .product {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100%;

    .product__image {
      @include centerElement;

      .img-shadow {
        border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
        background: $clr-white;
        height: 550px;
        width: 550px;
        @include centerElement;
        overflow: hidden;
        @include filter;

        img {
          height: 400px;
          width: 400px;
          object-fit: contain;
          z-index: 0;
        }

        &:hover {
          filter: none;
        }
      }
    }

    .product__details {
      background: $clr-dark-grey;
      color: $clr-white;
      color: $clr-light-grey;
      @include centerElement;
      flex-direction: column;
      gap: 2rem;
      padding: 3rem;

      .title {
        font-size: 2rem;
        text-align: center;
      }
      .price {
        letter-spacing: 0.3rem;
        font-weight: bolder;
        font-size: 1.3rem;
      }
      .desc {
      }
      .dummy {
      }
    }
  }
}
