body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

:root {
  --clr-red: red;
  --clr-black: black;
}

body {
  width: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  margin: auto;
  width: 80%;
  height: 80vh;
  border: 1px solid var(--clr-red);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.text {
  border: 1px solid var(--clr-black);
}

.markdownText {
  border: 1px solid var(--clr-black);
}
